{% extends "filmes/base.html" %}
{% load static %}
{% block conteudo %}
<div ng-app="flmApp">
    <!-- BEGIN HEADER -->
    <div class="navbar navbar-fixed-top"></div>
    <ng-view></ng-view>
    <script type="text/javascript" src="{% static 'filmes/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'filmes/filters.js' %}"></script>
    <script type="text/javascript" src="{% static 'filmes/services.js' %}"></script>
    <script type="text/javascript" src="{% static 'filmes/directives.js' %}"></script>
    <script type="text/javascript" src="{% static 'filmes/controllers.js' %}"></script>
</div>    
{% endblock %} 
